* {
    margin: 8px auto;
}

.title-b {
    color: white;
    text-align: center;
    background: rgb(104, 104, 241);
}

.title-c {
    color: black;
    text-align: center;
    background: rgb(132, 248, 132);
}

.title-e {
    text-align: center;
    background: rgb(250, 250, 140);
}
div {
    text-align: center;
}