* {
    margin: 16px;
    background-color: white;
}

#title {
    color: white;
    text-align: center;
    background: rgb(240, 66, 66);
}

.b-link {
    background: rgb(140, 140, 243);
    text-align: center;
}

.chi-broc {
    background: rgb(151, 231, 151);
    text-align: center;
}

.elote {
    background: rgb(255, 255, 154);
    text-align: center;
}